@import "tailwindcss";

/* Tipografía personalizada (opcional) */
@theme {

  --default-font-family: "Outfit", sans-serif;
  --font-mono:"PT Sans", sans-serif;
}

:root {
  
  --heading-font-family: "Outfit", sans-serif;
  

    --color-coffee-50: #fcf8ee;
    --color-coffee-100: #f5ebd0;
    --color-coffee-200: #ead59d;
    --color-coffee-300: #dfbb6a;
    --color-coffee-400: #d7a648;
    --color-coffee-500: #ce8a32;
    --color-coffee-600: #b66b29;
    --color-coffee-700: #975026;
    --color-coffee-800: #7c3f24;
    --color-coffee-900: #5e311e;
    --color-coffee-950: #3a1a0e;
    --color-amber-40: #77512e;


    --icon-size:6rem;

}

body {
  font-family: var(--default-font-family);
  
}

h1, h2, h3 {
  font-family: var(--heading-font-family);
}
@utility coffee-icon{
  content:'';
  background-image: url('../assets/coffee.svg');
  background-size: var(--icon-size);
  background-position: center;
  width: var(--icon-size);
  height: var(--icon-size);
  display:block;
  margin-inline:auto;
}
@utility bg-menu-image{
  background-image:url('../assets/menu_artwork.svg');
}
.input-label {
  @apply text-amber-900 uppercase font-bold text-base mb-1 block;
}

.input-field {
  @apply border-amber-900 border-2 px-2 py-1 rounded-md
         focus:outline-none focus:ring-2 focus:ring-amber-500;
}
html { scroll-behavior: smooth; }