---
interface Props{
    icon: string;
    text:string;
}
const {icon, text}: Props = Astro.props;
---

<div class="py-10 space-y-5 flex flex-col items-center" >
    <img
        src={icon}
        loading="lazy"
        alt={`Icono `}
        class="max-w-52"
    />

    <h3 class="text-4xl text-amber-800 font-mono">{text}</h3>


</div>